@import url('https://fonts.googleapis.com/css?family=Lato:700');

body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin-bottom: 200px;
    
    
}
.productList {
    margin-top: 1em;
    
}
.quantity {
    width: 40px;
    text-align: center;
    vertical-align: middle;
}
.product {
    margin-top: 2em;
    padding-top: 1em;
    margin-right: 1em;
    margin-left: 2em;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
}
.price {
    float:left;
    line-height: 1.5em;
}
.cart {
    float:right;
    margin-right: 3em;
    margin-top: -1em;
    cursor: pointer;
}
.cart:hover {
    text-shadow: 1px 1px 1px #ccc;
}
.btn-block {
    margin-top: 1em; 
    margin-bottom: 1em;
}
.nav {
    margin-left: 2em;
}
.search {
    padding-left: 0.5em;
    font-size: 18px;
    color: #616161 
}
.find {
    margin-left: 1em;
}
.footer {
  
  }
  .cartitems {
      font-size: 1.5rem;
      padding-left: 0.8em;
  }